langchain
langchain-community
langchain-chroma
chromadb
pypdf
markdown-it-py
python-dotenv
streamlit>=1.31.0
sentence-transformers
#ollama # install this for local run
fpdf
unstructured
langchain-huggingface
markdown
pysqlite3-binary # Fix for chromadb compatibility issue with older sqlite3 versions